{% load static %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark" id="mynav">
    <img style="height:30px;" src="{% static "img/logo.png"%}" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav sm-auto">
      <li class="nav-item">
          <a href="/" class="nav-link">home</a>
      </li>
      <li class="nav-item">
          <a href="/blog" class="nav-link">blog</a>
      </li>
      <li class="nav-item">
          <a href="/about" class="nav-link">about</a>
      </li>
    </ul>
  </div>
</nav>